/* Estilos barra de navegacion*/
.bg-nav{
    background-color: #000000;
}

.icon {
    margin: 1rem;
}

.bg-footer{
    background-image: url("./img/carne-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    color: white;
    display: flex; 
    justify-content: center;
}
  
.bg-let{
    background-color: white;
    text-align: center;
    color: #980000;      
}
.bg-footer_medio{
    background-color: white;
    background-size: cover;
    margin-left: 5px;
    font-size: 8px;
    position: center;  
}

/*fin barra de navegacion*/

/* sizing img*/
.img-size {
    width: 30rem;
}

/* Estilos contenido index*/

.frase-bienvenida{
    text-align: center;
    color: #980000;
}